extends layout/base.jade

block style
	link(href="/build/stylesheets/theme.min.css", rel="stylesheet", type="text/css")

block script
	script(src="/build/javascripts/script.min.js")

block body
	include ./layout/header.jade

	div.content

		div.text-right
			a.btn.navigation(href="/")
				i.mdi.mdi-apps
				| All posts

		div#view-body
			//- List posts
			- for post in posts
				div.post
					if admin
						form(action="#{ post.link }", method="POST")
							div.form-btns.text-right
								button.btn.btn--success(type="submit") Save

							h1.editable
								a.navigation(href="#{ post.link || '#' }")= post.title
								input.form-input.input-editable(type="text", name="title", value="#{post.title}") 

							div.editable= post.content
								textarea.form-input.input-editable(name="content")= post.content
