if post
	div.post.content-body
		if admin
			form( action="", method="POST" )

				h1.editable
					span.editable-content= ( post.title || 'Title' )
					textarea.form-input.input-editable( name="title", placeholder="Title" )= post.title
				div.post-content.editable
					span.editable-content= ( post.content || 'Your text goes here...' )
					textarea.form-input.input-editable( name="content", placeholder="Your text goes here..." )= post.content

		else
			h1
				span= ( post.title || 'Title' )
			div.post-content
				span= ( post.content || 'Your text goes here...' )
